.button{
  text-align: center;
  background-color: #13BD1E;
  border-color: transparent; 
  width: 20%; 
  border-radius: 4px;
  color: white; 
  font-family: Johnston100-Medium; 
  height: 30px; 
  font-size: 15px; 
}

.inputBox{
 text-align: center;
}