.button{
  text-align: center;
  background-color: #13BD1E;
  border-color: transparent; 
  width: 15em; 
  border-radius: 4px;
  color: white; 
  font-family: Johnston100-Medium; 
  height: 50px; 
  font-size: 20px; 
}

.buttonDiv{
  text-align: center;
  padding: 10px 0px 0px 0px;
}