@font-face {
  font-family: "Johnston100-Light";
    src: url('./fonts/Johnston100W03-Light.eot'); 
    src: url('./fonts/Johnston100W03-Light.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Light.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Light.woff') format('woff'),
         url('./fonts/Johnston100W03-Light.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Light.svg') format('svg');
}
@font-face {
  font-family: "Johnston100-Regular";
    src: url('./fonts/Johnston100W03-Regular.eot'); 
    src: url('./fonts/Johnston100W03-Regular.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Regular.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Regular.woff') format('woff'),
         url('./fonts/Johnston100W03-Regular.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Regular.svg') format('svg');
}
@font-face {
  font-family: "Johnston100-Medium";
    src: url('./fonts/Johnston100W03-Medium.eot'); 
    src: url('./fonts/Johnston100W03-Medium.eot?#iefix') format('embedded-opentype'),
         url('./fonts/Johnston100W03-Medium.woff2') format('woff2'),
         url('./fonts/Johnston100W03-Medium.woff') format('woff'),
         url('./fonts/Johnston100W03-Medium.ttf')  format('truetype'),
         url('./fonts/Johnston100W03-Medium.svg') format('svg');
}

// TFL COLOURS //
$blue: rgb(0, 25, 168);
$cyan: rgb(0,157,217);
$turquoise: rgb(102, 204, 204);
$lightGrey: rgb(238, 238, 238);
$grey: rgb(134, 143, 152);
$darkGrey: rgb(65,75,86);
$yellow: rgb(255,206,0);
$red: rgb(220,36,31);

$header: 5em;

$buttonHeight: 2em;

:root {font-size:12px}

body{
  background-color:rgb(0, 25, 168);
}

.title{
  text-align: center;
  font-family: "Johnston100-Medium";
  color:rgb(105, 232, 76);
  font-size: 9vh;
  padding: 10px 0px 10px 0px;
}

.titleThin{
  font-family: "Johnston100-Light";
  color:white;
  font-size: 9vh;
}